.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.wide-gap {
  gap: 4rem;
}

.border {
  border: 2px solid red;
  padding: 1rem;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.green {
  color: limegreen;
}

.blue {
  color: dodgerblue;
}

.hoverable:hover {
  cursor: pointer;
  filter: brightness(0.75);
}
