.card {
  border: 1px solid lime;
  padding: 1rem;
}

.title {
  margin: 0;
  font-weight: bold;
  font-size: 96px;
  text-decoration: none;
}

.danger {
  color: orangered;
}

.active {
  text-decoration: underline;
}

.inactive {
  color: lightgray;
  text-decoration: line-through;
}
