.post {
  display: flex;
  flex-direction: column;

  padding: 1rem;
  background-color: lightgray;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}

.row {
  display: flex;
  gap: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
}

.username {
  margin: 0;
  font-size: 20px;
}

.avatar {
  border-radius: 50%;
  border: 1px solid orange;
}

.btn-more {
  justify-self: flex-end;

  cursor: pointer;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-more:hover {
  filter: brightness(0.8);
}

.footer {
  padding: 0.5rem 1rem;
  background-color: gray;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.stat {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
