.tab-bar {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tab {
  cursor: pointer;
  text-decoration: underline;
}

.tab:hover {
  font-weight: bold;
  color: dodgerblue;
}

.tab.active {
  color: orange;
}
