.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.box {
  --size: 100px;
  width: var(--size);
  height: var(--size);
  background-color: tomato; 
}